.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.w-color-wheel {
  box-shadow: 0 0 16px -5px gray;
  border-radius: 50%;
}

.color-picker {
  margin-top: 3em;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.color {
  width: 2em;
  height: 2em;
  border-radius: 1em;
}

.joystick-container {
  max-width: 800px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.joystick {
  margin-top: 1em;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
