#root {
  width: 100vw;
}

.App-header {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.w-color-wheel {
  box-shadow: 0 0 16px -5px gray;
  border-radius: 50%;
}

.color-picker {
  margin-top: 3em;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.color {
  width: 2em;
  height: 2em;
  border-radius: 1em;
}

.joystick-container {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
}

.joystick {
  width: 200px;
  height: 200px;
  margin: 20px;
}

@media (max-height: 500px) and (orientation: landscape) {
  .App-header {
    flex-direction: row;
    height: 30vh;
  }
  .joystick-container {
    height: 70vh;
  }
  .w-color-wheel {
    display: none;
  }
}
